<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Listado de usuarios</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
<div class="row">
 <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
         <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/images.jpeg}"/>
                    </div>
        <!--<h3 align="center">Todos los Usuarios</h3>-->
    <div th:if="${not #lists.isEmpty(usuarios)}">
        <div class="table-responsive">
 <table id="tablita" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>Codigo usuario</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>Estado de contraseña</th>
                <th>Fecha de ingreso </th>
                   <th></th><th></th><th></th>
            </tr>
            </thead>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.codigousuario}">Codigo Usuario</td>
                <td th:text="${usuario.nombreusuario}">Usuario</td>
                <td th:text="${usuario.estadousuario}?'Activo':'Inactivo'">Estado</td>
                <td th:text="${usuario.controlcontrasenia=='1'}?'Temporal':'Verificada'">control Contraseña</td>
                <td th:text="${#calendars.format(usuario.fechaingreso, 'dd/MM/yyyy')}">Fecha Ingreso</td>
                <!--<td th:text="${#calendars.format(usuario.fechabaja, 'dd/MM/yyyy')}">Fecha de baja</td>-->
                 
                <td><a th:href="${'./show/' + usuario.codigousuario}" class="btn btn-info">Mostrar</a></td>
                <td> <a th:href="${'./edit/' + usuario.codigousuario}" class="btn btn-success">Editar</a></td>
                <td> <a  class="btn btn-danger" th:onclick="'eliminar(\'' + ${usuario.codigousuario} + '\');'" >Eliminar</a></td>
            </tr>
        </table>
    </div>
</div>
    </div>
    <script th:inline="javascript">
         Textheader('pnt_geus',document.title);
      $(document).ready(function () {
            $('#tablita').DataTable( {
        "language": {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}} );
    });
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
       
        if ([[${msg}]] === 3){
        swal({

        title: "Exito!",
                text: "Registro Eliminado correctamente",
                type: "success",
                icon: "success",
        }).then(function() {
        location.href = '../../usuarios/';
        swal({
       text: "Redirigiendo a consulta de usuarios",
       icon: "success"
    })
        });
        }

        if ([[${msg}]] === 4){
        swal({
        title: "ERROR!",
                text: "Ocurrio un error al eliminar el registro",
                type: "error",
                icon: "error"
        });
        }
        });
        function eliminar(id) {
        swal({
        title: "Desea Eliminar?",
                text: "Favor confirme que desea eliminar este registro!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
        })
                .then((willDelete) => {
                if (willDelete) {
                location.href = './delete/' + id;
                } else {
                swal("Accion cancelada", "Se ha cancelado la operacion de eliminado", "error");
                }
                });
        }
    </script>
</body>

</html>
