<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/Style1.css" th:href="@{/css/Style1.css}" rel="stylesheet" media="screen"/>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
        <script type="text/javascript" th:src="@{/js/SweetAlert.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_controladores2.js}"></script>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
        <script type="text/javascript" th:src="@{/js/validacion_todores3.js}"></script>
        <script type="text/javascript" th:src="@{/js/helpJs.js}"></script>
        <link href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" rel="stylesheet" media="screen"/>
<link href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" media="screen"/>
<link rel="shortcut icon" type="../../static/image/favicon.png"   th:href="@{/image/favicon.png}"/>
</head>
<body>
    <div th:fragment="header">
        <div class="row fondoloco">
            <div  class="col-md-3">
                <div class="row text-center">
                    <img src="../../static/image/gob.png"  th:src="@{/image/gob.png}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <h2 class="hmod">puebla
                        <br>Sistema de Entregas
                        <br>BIENVENIDO</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row text-center">
                        <img src="../../static/image/mjsp.jpg"  th:src="@{/image/mjsp.jpg}"/>
                    </div>
                </div>
            </div>
            <div class="row fondoloco">
                <div class="form-group">
                    <div class="col-md-2">
                    </div> 
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <label  class="der" >Fecha:
                            <script >
                                var f = new Date();
                                document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());
                            </script></label>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-4">
                        <label  id="nombrepantalla"></label> 
                    </div> 
                    <div class="col-md-4 conteinertitulopantalla" align="center">
                        <h2 class="hmod" id="titulopantalla" align="center"></h2>
                    </div>
                    <div class="col-md-4" align="right">  
                        <button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-user"></span><b th:if="${#request.userPrincipal != null}"  th:utext="${#request.userPrincipal.getName()}" ></b>
                        </button>
                        <a th:if="${#request.userPrincipal != null}" class="btn btn-danger" th:href="@{/logout}">Cerrar Session</a>                        
                    </div>
                </div>
            </div>
        </div>
    <div id="loader"></div>
    </body>
</html>