<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Listado de roles asigado a usuarios</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
          <div class="contenedorizq"> 
    <label  class="der">
    <script >
var f = new Date();
document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
</script></label>
</div>
<div class="row">
 <div class="col-md-3">
                        <th:block th:include="../templates/menu"></th:block>
                    </div>
    <div class="col-md-9">
         <div class="row text-center">
                        <img src="../../static/image/images.jpeg" width="100" th:src="@{/image/images.jpeg}"/>
                    </div>
        <h3 align="center">Todos los Usuarios</h3>
    <div th:if="${not #lists.isEmpty(usuariorols)}">
        <div class="table-responsive">
  <table class="table">
        <!--<table class="table table-striped">-->
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
               
                
            </tr>
            <tr th:each="usuariorol : ${usuariorols}">
                <td th:text="${usuariorol.usuario.nombreusuario}">Codigo</td>
                <td th:text="${usuariorol.rol.nombrerol}">Codigo</td>
                <!--<td><a th:href="${'./delete/' + usuario.codigousuario}" class="btn btn-danger">Delete</a></td>-->
            </tr>
        </table>
    </div>
</div>
    </div>
</body

</html>
