<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Agregar rol al usuario</title>
    <th:block th:include="../templates/header"></th:block>
</head>
<body>
    <script> Textheader('pnt_geus',document.title);</script>
<!--    <div class="contenedorizq"><label  >pnt_geus</label>
        <label  class="der">
            <script >
                var f = new Date();
                document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());
            </script></label>
    </div><br>-->
    <div class="row">
        <div class="col-md-3">
            <th:block th:include="../templates/menu"></th:block>
        </div>
        <div class="col-md-9">
            <br><br>
            <div class="row text-center">
                <img src="../../static/image/agregarusuario.png" width="100" th:src="@{/image/agregarusuario.png}"/>
            </div>
            <!--<h3 align="center">Agregar Rol al Usuario</h3>-->
            <div>
                <form class="form-horizontal" th:object="${formusuariorol}" th:action="@{../usuariorol}" method="post" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Usuario:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="usuario.codigousuario" >
                                <option th:each="c:${formusuariorol.usuarios}" th:value="${c.codigousuario}" th:text="${c.nombreusuario}"></option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Rol:</label>
                        <div class="col-sm-8">
                        <select class="form-control" name="rol.codigorol" >
                                <option th:each="c:${formusuariorol.roles}" th:value="${c.codigorol}" th:text="${c.nombrerol}"></option>
                        </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                    <div class="row" align="center">
                        <a href="#" th:href="@{/usuariosroles/}" class="btn btn-primary glyphicon glyphicon-arrow-left">Regresar</a>   
                            <button type="submit" id ="guardar" class="btn btn-primary">Guardar</button>
                            <button type="reset" class="btn btn-default">Limpiar</button>
                    </div>
</div>

                </form>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
    $('#fechaingreso').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechacaducidad').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    $('#fechabaja').datepicker({
    dateFormat: 'yy-mm-dd'
    });
    });</script>

</body>
<script th:inline="javascript">
    $(document).ready(function () {
        
    $('#guardar').click(function(){
    $("#loader").addClass("loader");
    });
  
    if ([[${msg}]] === 0){
    $("#loader").addClass("loader");
    swal({
    title: "Exito!",
            text: "Registro agregado correctamente",
            type: "success",
            icon: "success"
    }).then(function() {
    location.href = '../usuarios/';
    });
    }

    if ([[${msg}]] === 1){
    swal({
    title: "ERROR!",
            text: "Ocurrio un error en el proceso",
            type: "error",
            icon: "error"
    });
    }
    });
</script> 


</html>
